*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Body  */
body{
  font-size: 10px;
  font-family: sans-serif;
  background-color: #fcfcfc;
  margin: 0px 0px;
}

/* Navigation Bar */
.topnav {
  display:flex;
  justify-content: space-around;
  text-align: center;
  min-height: 8px;
  background-color: #211545;
  padding: 12px;
  padding-left: 100px;
}
.wrapper{
  width:100%;
  margin:0;
  padding: 0px;
}

.banner{
  width:100%;
  margin-bottom: 0px;
}
.banner2{
  width:30%;
}

.topnav ul{
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.topnav ul a{
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.topnav ul li{
  list-style: none;
}
.menu{
  display: none;
  cursor: pointer;
}
.menu div{
  width: 25px;
  height: 2px;
  background-color: white;
  margin:5px;

}
.srs{
  height: 25px;
}
/* content */
.content{
  text-align: justify;
  margin-top: -350px;
  padding-left: 300px;
  padding-right: 75px;
}
.content h1 {
  font-family: times;
  color: #161042;
  padding: 25px;
  text-align: center;
  font-size: 40px;
}
.heading{
  font-family: times;
  color: #161042;
  padding: 25px;
  text-align: center;
  font-size: 50px;
}
.content div{
  letter-spacing: 0.5px;
}
.text{
  padding: 10px;
  font-size: 15px;
  font-family: times;
}

/* sidenav  */
.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 275px;
  background-color: #d9d9d9;
  height: 58%;
  overflow: auto;
}

.navi ul li a {
  display: block;
  color: #211545;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 15px;
  padding-left: 10px;
}

.navi ul li a.active {
  background-color: #4CAF50;
  color: white;
}

.navi ul li a:hover:not(.active) {
  background-color: #3a76c4;
  color: white;
}
h2{
  font-family: times;
  color: #211545;
  font-size: 30px;
  padding-left: 10px;
  margin-top: 15px;
}
/* sidenav close */


.vivideo iframe{
  width:560px;
  height: 315px;
  display:flex;
  margin-left: 200px;
}
/*cards  */
h5{
  font-family: times;
  transform: translate(0%);
  color: #161042;
  text-align: center;
  font-size: 40px;
  margin-left: 200px;
}
.card-wrapper {
  padding-left: 300px;
  padding-right: 75px;
}

.card{
  float:left;
  margin: 3rem;
  width: 350px;
  height: 500px;
  display: inline-block;
  margin-top: 3rem;
  background-color: #d6eaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius:5px;
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.2);
}
.card .card-img{
  /* margin-top: -185px   ; */
  width: 100%;
  height: 23rem;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.card:hover{
  box-shadow: 0px 40px 30px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  transition: 0.5s;
}
.card h3{
  font-family: times;
  font-size: 1.5rem;
  color: #0f1f66;
  margin: 1.5rem 0;
  text-align: center;
}
.desc{
  padding: 5px;
  margin-bottom: 20px;
  font-family: times;
  font-size: 1rem;
  text-align: center;
}
/* Button on the cards */
.button {
  display: inline-block;
  /* padding: 5px 15px; */
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0f1f66;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}
.button a{
  color: white;
  text-decoration: none;
}

.button:hover {background-color: #3a76c4}

.button:active {
  background-color: #8c0000;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}
/* ifrane */
.iframe{
  align-items: center;
}

/* slideshow */
.mySlides{
  display: flex;
}
img {
  vertical-align: middle;
}
.mySlides img{
width:100%;
height:300px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
}

.mySlides fade img{

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

div.footer{
  resize: both;
  overflow: auto;
  background-color: #211545;
}
div.footer div{
  float:left;
  margin-left: calc(50% - 124px);
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* content 1 */

.card-wrap{
  margin-top: -423px;
  padding-left: 290px;
}
.cardo{
  float:left;
  height: 393px;
  display: inline-block;
  margin-top: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardo h3{
  font-family: times;
  font-size: 2rem;
  color: #0f1f66;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 600px;
  text-align: left;
}
.desco{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 600px;
  font-family: times;
  font-size: 1rem;
  text-align: left;
}

.cardo iframe{
  width: 450px;
  height: 300px;
  margin-top: -220px;
  margin-left: 560px;
  margin-bottom: 15px;
}

.accord h2{
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  color: #211545;
  font-size: 1.6rem;
  font-weight: lighter;
  margin-left: 10px;
}

.social-media img{
  width: 40px;
  float: left;
  display: inline-block;

}

.accordion {
  font-family: times;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
  background-color: #d9d9d9;
  color: #161042;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accord h2{
  color: #211545;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel1{
  padding: 0 18px;
  font-size: 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: times;
  line-height: 30px;
}
.panel-image1 img{
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  width:50%;
}

.panel-images img{
  float: right;
  margin-top: 90px;
  width:50%;
}

.panel-img img{
  float: right;
  margin-top: 0px;
  width:50%;
}

.describ h3{
  font-size: 1.5rem;
  margin-top: 25px;
  margin-right: 800px;
  margin-left: 2rem;
}
.describ h4{
  margin-left: 2rem;
  font-size: 1rem;
  text-align: left;
}

.describ p{
  margin-left: 3.5rem;
  margin-right: 700px;
  padding-right: 20px;
}

/* content 2  */

.text-c2 {
  text-align: left;
  font-family: times;
  color: #161042;
  padding: 25px;
  font-size: 20px;
}
.imgq{
  width:20%;
}
.accordion {
  background-color: #eee;
  color: #161042;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  /* text-align: left; */
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel{
  padding: 0 18px;
  font-size: 17px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: times;
  padding-left: 0px;

}
.panel p{
  padding-top: 100px;

}
.panel-image{
  float: left;
  width:30%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.refvid{
  display:block;
  padding-top: 0px;
}

/*content 3*/


/*content 4*/
.ban{
  width:480px;
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 float: right;
 border-radius: 8px;
 margin-bottom: 10px;
}

.text1 {
  text-align: left;
  font-family: times;
  color: #161042;
  padding: 30px;
  font-size: 18px;
}


/* media */
.video{
  width:600px;
  height:400px;
  display: block;
  margin: auto;
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .topnav ul{
    position: absolute;
      left: -100%;
      height: 40vh;
      top:8vh;
      background-color: #211545;
      display: block;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease;
      z-index: 99;
  }
  .video{
    width:100%;
    height:400px;
    margin: 0px;
  }

  .topnav li{
    opacity: 1;
    padding-bottom: 10px;
  }
  .menu{
    display: inline-block;
    margin-right: -2rem;
  }
  .srs{
    padding-right: 250px;
  }

  .img{
    display: block;
    width: 100%;
  }
  h2{
    text-align: center;
  }
  .card-wrapper{
    padding:0;
  }
  .card{
    margin: 1rem;
    margin-bottom: 3rem;
  }
  .vivideo iframe{
    width:375px;
    height: 315px;
    margin: 0px;
  }
  .accordion {
    margin: 0px;
    padding: 18px;
    width: 100%;
  }

  .heading h1{
    padding: 0px;
    font-size: 10px;
    font-family:Times;
    margin: 0;
    width: 100%;
  }
  .wrapper{
    width:100%;
  }
  .banner{
    width:100%;
  }
  .panel-image{
    width: 50%;
    display: block;
  }
  .card-wrap{
    margin-top: 0px;
    padding-left: 0px;
  }
  .cardo{
    height: 200px;
    margin-top: 0rem;
    padding: 0px;
    float:left;
    display: block;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .accord h2{
    padding:0px;
    margin-top: 500px;
    margin-left: 0px;
  }
  .accordion{
    margin: 0px;
  }
  .cardo h3{
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  .desco{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: times;
    margin-bottom: 10px;
  }
  .cardo iframe{
    width: 360px;
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .panel-image1 img{
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    width:50%;
    display: inline-block;
  }

  .panel-images img{
    float: right;
    margin-top: 0px;
    width:100%;
    display: inline-block;
  }

  .panel-img img{
    float: right;
    margin-top: 0px;
    width:100%;
    display: inline-block;
  }

  .describ h3{
    font-size: 1.5rem;
    margin-top: 25px;
    margin-right: 0px;
    margin-left: 2rem;
  }

  .describ p{
    margin-left: 3.5rem;
    margin-right: 0px;
    padding-right: 20px;
  }
  h5{
    transform: translate(0%);
    margin-bottom: 2rem;
    margin-left: 0px;
  }
  .panel p{
    margin-left: 1.5rem;
    margin-right: 0px;
    padding-right: 15px;
  }

}

.nav-active{
  transform: translateX(0%);
}

@media screen and (max-width: 900px) {
  .topnav{
      overflow-x: hidden;
  }

  /* card ida ne mak sei iha problema */
  .card-wrapper{
    padding:0px;
  }
  .navi ul{
    width: 100%;
    height: auto;
    position: relative;

  }

  .navi ul li a {
    float: left;
    padding: 15px;
  }
  .slideshow-container {
    width: 100%;
  }
  .content{
    text-align: justify;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }



  @media screen and (min-width: 1280px){
    div.card{
      width:100%;
    }
  }

  @media screen and (min-width: 700px){
      .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .card{
        transition: transform 0.5s;
      }

    }

@media screen and (max-width: 768px) {
  body{
      overflow-x: hidden;
  }
  .navi ul li a {
    text-align: center;
    float: none;
  }
  .iframe{
    width: 100%;
    align-content: center;
  }


        .search{
          margin-left: -50%;
        }
}

.topnav ul{
  display: none;
}
}

input[type=text] {
  width: 150px;
  height: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


label{
  color:white;
  font-family: sans-serif;
  font-size: 12px;
}

.tab{
  margin-left: 40px;
}
