*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Body  */
body{
  font-size: 10px;
  font-family: sans-serif;
  background-color: #f3f2f5;
  margin: 0px 15px;
}

/* Container for the banner image */
.container img{
  width: 100%;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #211545;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #295879;
}
a{
  text-decoration: none;
  color: #211545;
}

/* Heading */
.heading{
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #295879;
  position: relative;
}


/* Footer and the social media contact */
div.footer{
  resize: both;
  overflow: auto;
  background-color: #211545;
}
div.footer div{
  float:left;
  margin-left: calc(50% - 124px);
}

ul.social-media li img{
  width: 2rem;
  height: auto;
}

@media screen and (max-width: 414px){
  div.topnav{
    display: inline-block;
  vertical-align: middle;
  }

  div.topnav li{
    width:100%;
  }
}

@media screen and (min-width: 1280px){
  div.card{
    width: calc(25% - 2rem);
  }
}

@media screen and (min-width: 700px){
    .card-wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .card{
      margin: 2rem;
      transition: transform .5s;
    }
  }
